.green-background {
	background-color: #CCEADD;
	padding: 50px;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}


p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

.portrait {
	width: 300px;
	display: block;
	margin: auto;
	border-radius: 50%;
}

.bigger-textlink {
	font-size: 24px;
	font-weight: bold;
}

.link-button {
	border: 5px solid black;
	padding: 10px;
	background-color: white;
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px

}

.contact-social {
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 268px;
	margin-top: -20px;
}

.linkedin {
}

.facebook {
	margin-left: 30px;
	width: 100px;
}

.link-button:visited {
	color: black;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}


/*.regular-list {
	width: 160px;
	margin: auto;
	font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

ul.checkmark li:before {
    content:"\2713\0020";
}

ul {
	list-style-type: none;
}*/

/*.work-logo {
	width: 150px;
	display: block;
	margin: auto;
	margin-bottom: 5px;
}*/

.work-title {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-top: 100px;
}

.work-period {
	font-style: italic;
}

.work-circle {
	width: 300px;
	height: 300px;
	background: #CCEADD;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid;
}

.work-description {
	margin-top: 100px;
	margin-bottom: 150px;
}

.contact-text {
	margin-top: 150px;
}

.contact-info {
	border: 3px solid #CCEADD;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-weight: bold;
	width: 300px;

}

.contact-link {
	font-size: 24px;
	color: black;
}

.btn-success {
	color:black;
	border-color: black;
	font-family: 'Josefin Sans', sans-serif;
}

.btn {
	border: 3px solid black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.container {
	margin-bottom: 30px;
}

.btn-info {
	background-color: green;
	font-family: 'Josefin Sans', sans-serif;
}

.contact-img {
	width: 50px;
	margin: auto;
	display: block;
}

@media only screen and (min-width: 760px) {
	.responsive-image {
		width: 300px;
	}
}

@media only screen and (max-width: 760px) {
	.responsive-image {
		width: 70%;
	}
	.work-circle {
		margin-bottom: 200px;
	}

	.contact-text {
		margin-top: 0px;
	}
}