.green-background {
	background-color: #CCEADD;
	padding: 50px;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}


p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

.portrait {
	width: 300px;
	display: block;
	margin: auto;
	border-radius: 50%;
}

.bigger-textlink {
	font-size: 24px;
	font-weight: bold;
}

.link-button {
	border: 5px solid black;
	padding: 10px;
	background-color: white;
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px

}

.contact-social {
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 268px;
	margin-top: -20px;
}

.linkedin {
}

.facebook {
	margin-left: 30px;
	width: 100px;
}

.link-button:visited {
	color: black;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}


/*.regular-list {
	width: 160px;
	margin: auto;
	font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

ul.checkmark li:before {
    content:"\2713\0020";
}

ul {
	list-style-type: none;
}*/

/*.work-logo {
	width: 150px;
	display: block;
	margin: auto;
	margin-bottom: 5px;
}*/

.work-title {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-top: 100px;
}

.work-period {
	font-style: italic;
}

.work-circle {
	width: 300px;
	height: 300px;
	background: #CCEADD;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid;
}

.work-description {
	margin-top: 100px;
	margin-bottom: 150px;
}

.contact-text {
	margin-top: 150px;
	padding-top: 20px;
	color: white;
}

.contact-info {
	border: 3px solid #CCEADD;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-weight: bold;
	width: 300px;

}

.contact-link-home {
	font-size: 24px;
	color: white;
}

.contact-link-subpage {
	font-size: 24px;
	color: black;
}

.btn-success {
	color:black;
	border-color: black;
	font-family: 'Josefin Sans', sans-serif;
}

.btn {
	border: 3px solid black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.container {
	margin-bottom: 30px;
}

.btn-info {
	background-color: green;
	font-family: 'Josefin Sans', sans-serif;
}

.grey-background {
	background-color: black;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

.contact-img {
	width: 50px;
	margin: auto;
	display: block;
}

.arrow {
	width: 120px;
	display: inline;
	float: right;
	margin-right: 440px;
	position: relative;
	bottom: 32px;
	-webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);

}

.btn-info {
	background-color: #CCEADD;
	color: black;
}

.btn-info:hover, .btn-info:focus {
	background-color: green;
	border-color: black;
}

.modal-image {
	width: 150px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

.question {
	width: 500px;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 30px;
	font-size: 24px;
}

.numberCircle {
   	border-radius: 50%;
   	width: 50px;
    height: 50px;

    background: white;
    border: 2px solid black;
    text-align: center;
    margin: auto;
    margin-top: 10px;

    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    vertical-align: middle;
}

.answers {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	margin-right: 50px;
	color: #617069;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.answers li { 
list-style: upper-alpha; 
} 

label { 
margin-left: 0.5em; 
cursor: pointer; 
} 

#results { 
background: #CCEADD; 
color: 000000; 
padding: 8px; 
text-align: center; 
width: 200px; 
height: 50px;
cursor: pointer; 
border: 2px solid black;
margin: auto; 
margin-bottom: 30px;
}

.results-text {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}

#results:hover { 
background: green; 
color: black; 
padding: 8px; 
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 2px solid black;
} 

#categorylist { 
margin-top: 6px; 
display: none; 
} 

#category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 { 
display: none; 
}

#closing {
display: none;
font-style: italic;
}

.question {
	margin-top: 15px;
}


@media only screen and (min-width: 760px) {
	.responsive-image {
		width: 300px;
	}
	.arrow {
		width: 120px;
	}
}

@media only screen and (max-width: 760px) {
	.responsive-image {
		width: 70%;
	}
	.work-circle {
		margin-bottom: 200px;
	}

	.contact-text {
		margin-top: 0px;
	}

	.arrow {
		display: none;
	}
}